body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: #142d4c;
  color: #ececec;
  height: 100vh;
}

.d-flex {
  display: flex;
}
.intro {
  font-size: 2.25rem;
  font-weight: 700;
}
.intro strong {
  height: 2.25rem;
  line-height: 2.25rem;
}

.sub {
  padding-top: 0.75rem;
  font-size: 1.75rem;
  line-height: 4rem;
  margin-top: 10px;
}
.sub::before {
  animation: loadBar 400ms ease-in;
  content: '';
  border-top: 10px solid #9fd3c7;
  width: 0;
  height: 50px;
  position: absolute;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}
.no-linebreak {
  line-break: normal;
  white-space: nowrap;
}
.flex-direction-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}
.fade-1 {
  opacity: 0;
  animation: fadeIn 400ms ease-in;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}
.fade-2 {
  opacity: 0;
  animation: fadeIn 400ms ease-in;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}
.fade-3 {
  opacity: 0;
  animation: fadeIn 400ms ease-in;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}
.fade-4 {
  opacity: 0;
  animation: fadeIn 400ms ease-in;
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
}
.fade-5 {
  opacity: 0;
  animation: fadeIn 400ms ease-in;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

.card {
  user-select: none;
  animation: fadeIn 400ms ease-in;
  transition: padding 200ms;
  width: 265px;
  background-color: #385170;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 1.25rem;
  height: 130px;
}
.card::before {
  animation: fadeInBorder 400ms ease-in;
  padding: inherit;
  transition: padding;
  content: '';
  border: 2px dashed #9fd3c7;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
  z-index: -1;
  margin: -12px;

  border-top: 0;
  border-left: 0;
}
.card:hover {
  padding: 1.35rem;
}

.full-height {
  height: inherit;
}
a {
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: 45px;
}
.footer {
  text-align: center;
  font-size: 2rem;
  font-family: 'Patrick Hand SC', cursive;
}
.footer .link-button {
  transition: all 200ms;
  height: 45px;
  width: 45px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
}
.link-button:hover {
  background-color: #385170;
}

.link-button:hover::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 2px dashed #9fd3c7;
  position: absolute;
  border-radius: 0.5rem;
  border-top: 0;
  border-left: 0;
  margin: 4px -19px;
  z-index: -1;
}

.card::before {
  animation: fadeInBorder 400ms ease-in;
  padding: inherit;
  transition: padding;
  content: '';
  border: 2px dashed #9fd3c7;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
  z-index: -1;
  margin: -12px;

  border-top: 0;
  border-left: 0;
}

.arrow {
  transform: translateX(-62px) rotate(150deg);
  height: 100px;
}
.visit-me {
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}
.visit-me .text {
  transform: rotate(-11deg) translateX(-51px) translateY(2px);
}

.powered-by {
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 0.5rem;
  opacity: 0.5;
}

.powered-by a {
  text-decoration: initial;
  display: initial;
  width: initial;
  height: initial;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBorder {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes loadBar {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
