---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" class="h-full">
  <head>
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alexander Eremeev</title>
    <script src="https://kit.fontawesome.com/5cd1d5c71f.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-palette-400 text-palette-100 font-baloo-2 h-full flex flex-col">
    <div class="flex-grow">
      <slot />
    </div>
    <div class="m-1 opacity-70 text-xs">
      <span>Powered by:</span>
      <a href="https://www.vecteezy.com/free-vector/left">Vecteezy</a>,
      <a href="https://fontawesome.com/"> Font Awesome</a> | Handmade in Munich, Germany
    </div>
  </body>
</html>
