---
import "@fontsource/patrick-hand-sc";
import "@fontsource/baloo-bhaina-2";
---

<html lang="en" class="h-full">
  <head>
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alexander Eremeev</title>
    <script src="https://kit.fontawesome.com/5cd1d5c71f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-palette-400 text-palette-100 font-baloo-2 h-full flex flex-col">
    <div class="flex flex-col"><slot name="header" /></div>
    <div class="flex-grow">
      <slot />
    </div>
    <div class="flex flex-col">
      <slot name="footer" />
    </div>
  </body>
</html>
